<ion-view view-title="Cadastrar Tag">
  <ion-content>
    <div>
       
        <div class="list list-inset">
            <label class="item item-input ">
                <input type="text" placeholder="Tag" ng-model="tag.rfid">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="palavra" ng-model="tag.descricao">
            </label>
        </div>
        <div class="list list-inset">
            <button class="button button-outline button-balanced" ng-click="postTag()">Cadastrar
            </button>
        </div>
    </div>
  </ion-content>
</ion-view>
