<ion-view view-title="Pesquisar Tag">
  <ion-content>
    <div style="padding: 10px">
        
        <div class="list list-inset">
            <label class="item item-input ">
                <input type="text" placeholder="Tag" ng-model="tag2.rfid">
            </label>
        </div>
        <div class="list list-inset">
            <button class="button button-outline button-balanced" ng-click="getTag(tag2.rfid)">
                Pesquisar
            </button>
        </div>
    </div>
  </ion-content>
</ion-view>
